@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

    * {
      font-family: 'Poppins', sans-serif;
    }

    @media screen and (min-width: 0px) {
      .section-1 {
        background-image: url(img/2.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    /* @media screen and (min-width: 640px) {
      .section-1 {
        background-image: url(img/2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -115px;
      }
    } */

    @media screen and (min-width: 768px) {
      .section-1 {
        background-image: url(img/2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px -90px;
      }
    }

    @media screen and (min-width: 1024px) {
      .section-1 {
        background-image: url(img/2.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .wrapper-img {
      background-repeat: no-repeat;
      background-size: cover;
    }

    .wrapper-img1 {
      background-image: url(./img/card1.svg);
    }

    .wrapper-img2 {
      background-image: url(./img/card2.svg);
    }

    .wrapper-img3 {
      background-image: url(./img/card3.svg);
    }

    .wrapper-img4 {
      background-image: url(./img/card4.svg);
    }